/* Standard Page Layout */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

.content-wrapper, #client-id, #page-id, .text-examples, .graphic-examples, .colors ul, .images ul {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
.content-wrapper:before, #client-id:before, #page-id:before, .text-examples:before, .graphic-examples:before, .colors ul:before, .images ul:before, .content-wrapper:after, #client-id:after, #page-id:after, .text-examples:after, .graphic-examples:after, .colors ul:after, .images ul:after {
  content: "";
  display: table;
}
.content-wrapper:after, #client-id:after, #page-id:after, .text-examples:after, .graphic-examples:after, .colors ul:after, .images ul:after {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wrapper#header {
  background: #fef9ef;
}

.content-wrapper {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .75em;
}

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header .page-info {
  margin: 0;
  padding: 0;
  color: black;
  background: none;
  border: none;
  vertical-align: baseline;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
#header h1 {
  font-size: 2em;
  font-weight: bold;
}
#header h2 {
  font-size: 1.5em;
  font-weight: bold;
}
#header h4 {
  font-size: 1em;
  font-weight: bold;
}
#header .section-name {
  margin-top: .1em;
}
#header .page-info {
  font-size: 1em;
  font-weight: normal;
  margin-top: .4em;
}

#client-id {
  width: 100%;
}
@media (min-width: 600px) {
  #client-id {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 59.3046972%;
  }
}

#page-id {
  width: 100%;
}
@media (min-width: 600px) {
  #page-id {
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 35.6953028%;
  }
}

.text-examples {
  width: 100%;
}
@media (min-width: 600px) {
  .text-examples {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 59.3046972%;
  }
}

.graphic-examples {
  width: 100%;
}
@media (min-width: 600px) {
  .graphic-examples {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 35.6953028%;
  }
}

.colors ul, .images ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: .5em;
}
.colors li, .images li {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 3px solid #faf8f3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px black, 0px 0px 2px black inset;
  -moz-box-shadow: 0px 0px 2px black, 0px 0px 2px black inset;
  box-shadow: 0px 0px 2px black, 0px 0px 2px black inset;
  margin-left: .25em;
  margin-bottom: .25em;
}
@media (min-width: 600px) {
  .colors li, .images li {
    height: 75px;
    width: 75px;
  }
}
@media (min-width: 1034px) {
  .colors li, .images li {
    height: 50px;
    width: 50px;
  }
}

.images li {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: .5em;
}
@media (min-width: 452px) {
  .images li {
    width: 200px;
  }
}
@media (min-width: 600px) {
  .images li {
    width: 100%;
  }
}
@media (min-width: 1223px) {
  .images li {
    width: 200px;
  }
}
.images li img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 857px) {
  nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
  }
  nav ul:before, nav ul:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  nav ul:after {
    clear: both;
  }
  nav ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  nav ul li:first-child, nav ul li.first {
    padding-left: 0;
  }
  nav ul li:last-child {
    padding-right: 0;
  }
  nav ul li.last {
    padding-right: 0;
  }
}

.inspiration {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  font-size: 3em;
  text-align: center;
}
.inspiration:before, .inspiration:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.inspiration:after {
  clear: both;
}
.inspiration li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.inspiration li:first-child, .inspiration li.first {
  padding-left: 0;
}
.inspiration li:last-child {
  padding-right: 0;
}
.inspiration li.last {
  padding-right: 0;
}

/* Style Guide */
/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* normalize.css v2.0.1 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* normalize.css v2.0.1 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* normalize.css v2.0.1 | Links | MIT License | git.io/normalize */
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/* normalize.css v2.0.1 | Typography | MIT License | git.io/normalize */
h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* normalize.css v2.0.1 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/* normalize.css v2.0.1 | Figures | MIT License | git.io/normalize */
figure {
  margin: 0;
}

/* normalize.css v2.0.1 | Forms | MIT License | git.io/normalize */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* normalize.css v2.0.1 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

.content-wrapper, #client-id, #page-id, .text-examples, .graphic-examples, .colors ul, .images ul {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
.content-wrapper:before, #client-id:before, #page-id:before, .text-examples:before, .graphic-examples:before, .colors ul:before, .images ul:before, .content-wrapper:after, #client-id:after, #page-id:after, .text-examples:after, .graphic-examples:after, .colors ul:after, .images ul:after {
  content: "";
  display: table;
}
.content-wrapper:after, #client-id:after, #page-id:after, .text-examples:after, .graphic-examples:after, .colors ul:after, .images ul:after {
  clear: both;
}

#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}

#footer {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}

nav a {
  font-family: "league-gothic", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "pragmatica-web", sans-serif;
  font-weight: 200;
  font-style: normal;
}
em body {
  font-style: italic;
}
strong body {
  font-weight: 400;
}

a, h1, h2, h3, h4, h5, h6, .messages, .pager-current {
  font-weight: bold;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.61803em;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
}

input,
textarea {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #1897cd;
}
a:hover {
  color: #31cbfc;
}

#header {
  padding: 1em 2em;
  background: #1f1f1f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #575757), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(#575757, #1f1f1f);
  background: -moz-linear-gradient(#575757, #1f1f1f);
  background: -o-linear-gradient(#575757, #1f1f1f);
  background: linear-gradient(#575757, #1f1f1f);
}

nav {
  font-size: 2em;
  letter-spacing: 0.05em;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  color: white;
  padding-right: .625em;
  text-transform: uppercase;
}

p {
  padding-bottom: 1.61803em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -moz-margin-before: 0em;
  -moz-margin-after: 0em;
  -o-margin-before: 0em;
  -o-margin-after: 0em;
  -ms-margin-before: 0em;
  -ms-margin-after: 0em;
}

h1 {
  font-size: 2em;
  color: #666666;
  line-height: 1.25em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
  -moz-margin-before: 0em;
  -moz-margin-after: 0.5em;
  -o-margin-before: 0em;
  -o-margin-after: 0.5em;
  -ms-margin-before: 0em;
  -ms-margin-after: 0.5em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.25em;
  -moz-margin-before: 0em;
  -moz-margin-after: 0.25em;
  -o-margin-before: 0em;
  -o-margin-after: 0.25em;
  -ms-margin-before: 0em;
  -ms-margin-after: 0.25em;
}

h3 {
  font-size: 1.35em;
  line-height: 1.15em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.25em;
  -moz-margin-before: 0em;
  -moz-margin-after: 0.25em;
  -o-margin-before: 0em;
  -o-margin-after: 0.25em;
  -ms-margin-before: 0em;
  -ms-margin-after: 0.25em;
}

h4 {
  font-size: 1.2em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.25em;
  -moz-margin-before: 0em;
  -moz-margin-after: 0.25em;
  -o-margin-before: 0em;
  -o-margin-after: 0.25em;
  -ms-margin-before: 0em;
  -ms-margin-after: 0.25em;
}

h5 {
  font-size: 1.075em;
  line-height: 1em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.25em;
  -moz-margin-before: 0em;
  -moz-margin-after: 0.25em;
  -o-margin-before: 0em;
  -o-margin-after: 0.25em;
  -ms-margin-before: 0em;
  -ms-margin-after: 0.25em;
}

h6 {
  font-size: 1em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.25em;
  -moz-margin-before: 0em;
  -moz-margin-after: 0.25em;
  -o-margin-before: 0em;
  -o-margin-after: 0.25em;
  -ms-margin-before: 0em;
  -ms-margin-after: 0.25em;
}

.messages {
  width: 80%;
  margin: 0 auto;
  padding: 1em 2em;
}
.messages * {
  margin: 0;
  padding: 0;
}

.status {
  background: #e7f6eb;
  border: 1px solid #18a837;
  color: green;
}

.warning {
  background: #fef8dd;
  border: 1px solid #f9d31d;
}

.error {
  background: #fee9e8;
  border: 1px solid #f92a1d;
  color: #f92a1d;
}

.pager {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
.pager:before, .pager:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.pager:after {
  clear: both;
}
.pager li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.pager li:first-child, .pager li.first {
  padding-left: 0;
}
.pager li:last-child {
  padding-right: 0;
}
.pager li.last {
  padding-right: 0;
}

[type="submit"] {
  font-size: 1em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7D979F', endColorstr='#FF4D6269');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c6d2d5), color-stop(50%, #7d979f), color-stop(100%, #637e86));
  background: -webkit-linear-gradient(#c6d2d5, #7d979f 50%, #637e86);
  background: -moz-linear-gradient(#c6d2d5, #7d979f 50%, #637e86);
  background: -o-linear-gradient(#c6d2d5, #7d979f 50%, #637e86);
  background: linear-gradient(#c6d2d5, #7d979f 50%, #637e86);
  -webkit-box-shadow: #f2f5f6 0 1px 0 inset;
  -moz-box-shadow: #f2f5f6 0 1px 0 inset;
  box-shadow: #f2f5f6 0 1px 0 inset;
  border: 1px solid #587077;
  color: white;
  text-shadow: #66828a 0 -1px 0;
  padding: .25em 1em;
}
[type="submit"]:hover {
  text-decoration: none;
}
[type="submit"]:hover {
  background-color: #637e86;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c0cdd1), color-stop(50%, #637e86), color-stop(100%, #52686f));
  background: -webkit-linear-gradient(#c0cdd1, #637e86 50%, #52686f);
  background: -moz-linear-gradient(#c0cdd1, #637e86 50%, #52686f);
  background: -o-linear-gradient(#c0cdd1, #637e86 50%, #52686f);
  background: linear-gradient(#c0cdd1, #637e86 50%, #52686f);
}
[type="submit"]:active {
  -webkit-box-shadow: #52686f 0 1px 2px inset;
  -moz-box-shadow: #52686f 0 1px 2px inset;
  box-shadow: #52686f 0 1px 2px inset;
}
[type="submit"].disabled, [type="submit"][disabled] {
  opacity: 0.6;
  background: #637e86;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
[type="submit"]::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

.superscript {
  color: #1897cd;
  font-size: 0.75em;
  font-weight: bold;
  vertical-align: 0.4em;
}

.caption {
  font-size: 1em;
  color: #1897cd;
  font-weight: bold;
}

.pane-title {
  font-size: 1.45em;
  color: #666666;
}

/* Color Guide */
/* SINGULARITY -- http://singularity.gs/ */
.color-guide ul {
  margin: 0;
  padding: 0;
}
.color-guide li {
  list-style: none;
  height: 3em;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
  overflow: hidden;
  *zoom: 1;
  width: 16.66667%;
  float: left;
  margin-right: 0%;
  clear: right;
  overflow: hidden;
  *zoom: 1;
}
.color-guide li:nth-child(6n) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
  overflow: hidden;
  *zoom: 1;
  width: 16.66667%;
  float: right;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-right: 0;
}
.color-guide li:before, .color-guide li:after, .color-guide li:nth-child(6n):before, .color-guide li:nth-child(6n):after {
  position: absolute;
  height: 1.25em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  text-align: center;
}
.color-guide li:before {
  top: .25em;
}
.color-guide li:after {
  bottom: .25em;
}
.color-guide li:nth-child(1) {
  background-color: #1f1f1f;
}
.color-guide li:nth-child(1):before, .color-guide li:nth-child(1):after {
  color: white;
}
.color-guide li:nth-child(1):before {
  content: "#1f1f1f";
}
.color-guide li:nth-child(1):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(2) {
  background-color: #575757;
}
.color-guide li:nth-child(2):before, .color-guide li:nth-child(2):after {
  color: white;
}
.color-guide li:nth-child(2):before {
  content: "#575757";
}
.color-guide li:nth-child(2):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(3) {
  background-color: #8f8f8f;
}
.color-guide li:nth-child(3):before, .color-guide li:nth-child(3):after {
  color: black;
}
.color-guide li:nth-child(3):before {
  content: "#8f8f8f";
}
.color-guide li:nth-child(3):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(4) {
  background-color: #c7c7c7;
}
.color-guide li:nth-child(4):before, .color-guide li:nth-child(4):after {
  color: black;
}
.color-guide li:nth-child(4):before {
  content: "#c7c7c7";
}
.color-guide li:nth-child(4):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(5) {
  background-color: #dddddd;
}
.color-guide li:nth-child(5):before, .color-guide li:nth-child(5):after {
  color: black;
}
.color-guide li:nth-child(5):before {
  content: "#dddddd";
}
.color-guide li:nth-child(5):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(6) {
  background-color: #e8e8e8;
}
.color-guide li:nth-child(6):before, .color-guide li:nth-child(6):after {
  color: black;
}
.color-guide li:nth-child(6):before {
  content: "#e8e8e8";
}
.color-guide li:nth-child(6):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(7) {
  background-color: #7d979f;
}
.color-guide li:nth-child(7):before, .color-guide li:nth-child(7):after {
  color: black;
}
.color-guide li:nth-child(7):before {
  content: "#7d979f";
}
.color-guide li:nth-child(7):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(8) {
  background-color: #9db1b7;
}
.color-guide li:nth-child(8):before, .color-guide li:nth-child(8):after {
  color: black;
}
.color-guide li:nth-child(8):before {
  content: "#9db1b7";
}
.color-guide li:nth-child(8):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(9) {
  background-color: #becbcf;
}
.color-guide li:nth-child(9):before, .color-guide li:nth-child(9):after {
  color: black;
}
.color-guide li:nth-child(9):before {
  content: "#becbcf";
}
.color-guide li:nth-child(9):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(10) {
  background-color: #dee5e7;
}
.color-guide li:nth-child(10):before, .color-guide li:nth-child(10):after {
  color: black;
}
.color-guide li:nth-child(10):before {
  content: "#dee5e7";
}
.color-guide li:nth-child(10):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(11) {
  background-color: #ebeff0;
}
.color-guide li:nth-child(11):before, .color-guide li:nth-child(11):after {
  color: black;
}
.color-guide li:nth-child(11):before {
  content: "#ebeff0";
}
.color-guide li:nth-child(11):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(12) {
  background-color: #f2f4f5;
}
.color-guide li:nth-child(12):before, .color-guide li:nth-child(12):after {
  color: black;
}
.color-guide li:nth-child(12):before {
  content: "#f2f4f5";
}
.color-guide li:nth-child(12):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(13) {
  background-color: #1897cd;
}
.color-guide li:nth-child(13):before, .color-guide li:nth-child(13):after {
  color: white;
}
.color-guide li:nth-child(13):before {
  content: "#1897cd";
}
.color-guide li:nth-child(13):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(14) {
  background-color: #51b1d9;
}
.color-guide li:nth-child(14):before, .color-guide li:nth-child(14):after {
  color: black;
}
.color-guide li:nth-child(14):before {
  content: "#51b1d9";
}
.color-guide li:nth-child(14):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(15) {
  background-color: #8bcbe6;
}
.color-guide li:nth-child(15):before, .color-guide li:nth-child(15):after {
  color: black;
}
.color-guide li:nth-child(15):before {
  content: "#8bcbe6";
}
.color-guide li:nth-child(15):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(16) {
  background-color: #c5e5f2;
}
.color-guide li:nth-child(16):before, .color-guide li:nth-child(16):after {
  color: black;
}
.color-guide li:nth-child(16):before {
  content: "#c5e5f2";
}
.color-guide li:nth-child(16):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(17) {
  background-color: #dceff7;
}
.color-guide li:nth-child(17):before, .color-guide li:nth-child(17):after {
  color: black;
}
.color-guide li:nth-child(17):before {
  content: "#dceff7";
}
.color-guide li:nth-child(17):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(18) {
  background-color: #e7f4fa;
}
.color-guide li:nth-child(18):before, .color-guide li:nth-child(18):after {
  color: black;
}
.color-guide li:nth-child(18):before {
  content: "#e7f4fa";
}
.color-guide li:nth-child(18):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(19) {
  background-color: #31cbfc;
}
.color-guide li:nth-child(19):before, .color-guide li:nth-child(19):after {
  color: black;
}
.color-guide li:nth-child(19):before {
  content: "#31cbfc";
}
.color-guide li:nth-child(19):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(20) {
  background-color: #64d8fc;
}
.color-guide li:nth-child(20):before, .color-guide li:nth-child(20):after {
  color: black;
}
.color-guide li:nth-child(20):before {
  content: "#64d8fc";
}
.color-guide li:nth-child(20):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(21) {
  background-color: #98e5fd;
}
.color-guide li:nth-child(21):before, .color-guide li:nth-child(21):after {
  color: black;
}
.color-guide li:nth-child(21):before {
  content: "#98e5fd";
}
.color-guide li:nth-child(21):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(22) {
  background-color: #cbf2fe;
}
.color-guide li:nth-child(22):before, .color-guide li:nth-child(22):after {
  color: black;
}
.color-guide li:nth-child(22):before {
  content: "#cbf2fe";
}
.color-guide li:nth-child(22):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(23) {
  background-color: #e0f7fe;
}
.color-guide li:nth-child(23):before, .color-guide li:nth-child(23):after {
  color: black;
}
.color-guide li:nth-child(23):before {
  content: "#e0f7fe";
}
.color-guide li:nth-child(23):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(24) {
  background-color: #eaf9fe;
}
.color-guide li:nth-child(24):before, .color-guide li:nth-child(24):after {
  color: black;
}
.color-guide li:nth-child(24):before {
  content: "#eaf9fe";
}
.color-guide li:nth-child(24):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(25) {
  background-color: #ff8800;
}
.color-guide li:nth-child(25):before, .color-guide li:nth-child(25):after {
  color: black;
}
.color-guide li:nth-child(25):before {
  content: "#ff8800";
}
.color-guide li:nth-child(25):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(26) {
  background-color: #ffa53f;
}
.color-guide li:nth-child(26):before, .color-guide li:nth-child(26):after {
  color: black;
}
.color-guide li:nth-child(26):before {
  content: "#ffa53f";
}
.color-guide li:nth-child(26):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(27) {
  background-color: #ffc37f;
}
.color-guide li:nth-child(27):before, .color-guide li:nth-child(27):after {
  color: black;
}
.color-guide li:nth-child(27):before {
  content: "#ffc37f";
}
.color-guide li:nth-child(27):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(28) {
  background-color: #ffe1bf;
}
.color-guide li:nth-child(28):before, .color-guide li:nth-child(28):after {
  color: black;
}
.color-guide li:nth-child(28):before {
  content: "#ffe1bf";
}
.color-guide li:nth-child(28):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(29) {
  background-color: #ffedd8;
}
.color-guide li:nth-child(29):before, .color-guide li:nth-child(29):after {
  color: black;
}
.color-guide li:nth-child(29):before {
  content: "#ffedd8";
}
.color-guide li:nth-child(29):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(30) {
  background-color: #fff3e5;
}
.color-guide li:nth-child(30):before, .color-guide li:nth-child(30):after {
  color: black;
}
.color-guide li:nth-child(30):before {
  content: "#fff3e5";
}
.color-guide li:nth-child(30):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(31) {
  background-color: #f92a1d;
}
.color-guide li:nth-child(31):before, .color-guide li:nth-child(31):after {
  color: black;
}
.color-guide li:nth-child(31):before {
  content: "#f92a1d";
}
.color-guide li:nth-child(31):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(32) {
  background-color: #fa5f55;
}
.color-guide li:nth-child(32):before, .color-guide li:nth-child(32):after {
  color: black;
}
.color-guide li:nth-child(32):before {
  content: "#fa5f55";
}
.color-guide li:nth-child(32):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(33) {
  background-color: #fc948e;
}
.color-guide li:nth-child(33):before, .color-guide li:nth-child(33):after {
  color: black;
}
.color-guide li:nth-child(33):before {
  content: "#fc948e";
}
.color-guide li:nth-child(33):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(34) {
  background-color: #fdc9c6;
}
.color-guide li:nth-child(34):before, .color-guide li:nth-child(34):after {
  color: black;
}
.color-guide li:nth-child(34):before {
  content: "#fdc9c6";
}
.color-guide li:nth-child(34):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(35) {
  background-color: #fedfdd;
}
.color-guide li:nth-child(35):before, .color-guide li:nth-child(35):after {
  color: black;
}
.color-guide li:nth-child(35):before {
  content: "#fedfdd";
}
.color-guide li:nth-child(35):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(36) {
  background-color: #fee9e8;
}
.color-guide li:nth-child(36):before, .color-guide li:nth-child(36):after {
  color: black;
}
.color-guide li:nth-child(36):before {
  content: "#fee9e8";
}
.color-guide li:nth-child(36):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(37) {
  background-color: #f9d31d;
}
.color-guide li:nth-child(37):before, .color-guide li:nth-child(37):after {
  color: black;
}
.color-guide li:nth-child(37):before {
  content: "#f9d31d";
}
.color-guide li:nth-child(37):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(38) {
  background-color: #fade55;
}
.color-guide li:nth-child(38):before, .color-guide li:nth-child(38):after {
  color: black;
}
.color-guide li:nth-child(38):before {
  content: "#fade55";
}
.color-guide li:nth-child(38):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(39) {
  background-color: #fce98e;
}
.color-guide li:nth-child(39):before, .color-guide li:nth-child(39):after {
  color: black;
}
.color-guide li:nth-child(39):before {
  content: "#fce98e";
}
.color-guide li:nth-child(39):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(40) {
  background-color: #fdf4c6;
}
.color-guide li:nth-child(40):before, .color-guide li:nth-child(40):after {
  color: black;
}
.color-guide li:nth-child(40):before {
  content: "#fdf4c6";
}
.color-guide li:nth-child(40):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(41) {
  background-color: #fef8dd;
}
.color-guide li:nth-child(41):before, .color-guide li:nth-child(41):after {
  color: black;
}
.color-guide li:nth-child(41):before {
  content: "#fef8dd";
}
.color-guide li:nth-child(41):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(42) {
  background-color: #fefae8;
}
.color-guide li:nth-child(42):before, .color-guide li:nth-child(42):after {
  color: black;
}
.color-guide li:nth-child(42):before {
  content: "#fefae8";
}
.color-guide li:nth-child(42):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(43) {
  background-color: #18a837;
}
.color-guide li:nth-child(43):before, .color-guide li:nth-child(43):after {
  color: white;
}
.color-guide li:nth-child(43):before {
  content: "#18a837";
}
.color-guide li:nth-child(43):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(44) {
  background-color: #51bd69;
}
.color-guide li:nth-child(44):before, .color-guide li:nth-child(44):after {
  color: black;
}
.color-guide li:nth-child(44):before {
  content: "#51bd69";
}
.color-guide li:nth-child(44):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(45) {
  background-color: #8bd39b;
}
.color-guide li:nth-child(45):before, .color-guide li:nth-child(45):after {
  color: black;
}
.color-guide li:nth-child(45):before {
  content: "#8bd39b";
}
.color-guide li:nth-child(45):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(46) {
  background-color: #c5e9cd;
}
.color-guide li:nth-child(46):before, .color-guide li:nth-child(46):after {
  color: black;
}
.color-guide li:nth-child(46):before {
  content: "#c5e9cd";
}
.color-guide li:nth-child(46):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(47) {
  background-color: #dcf1e1;
}
.color-guide li:nth-child(47):before, .color-guide li:nth-child(47):after {
  color: black;
}
.color-guide li:nth-child(47):before {
  content: "#dcf1e1";
}
.color-guide li:nth-child(47):after {
  content: attr(data-sass);
}
.color-guide li:nth-child(48) {
  background-color: #e7f6eb;
}
.color-guide li:nth-child(48):before, .color-guide li:nth-child(48):after {
  color: black;
}
.color-guide li:nth-child(48):before {
  content: "#e7f6eb";
}
.color-guide li:nth-child(48):after {
  content: attr(data-sass);
}

/* Style Tile */
.colors li:nth-child(1) {
  background-color: #1f1f1f;
}

.colors li:nth-child(2) {
  background-color: #7d979f;
}

.colors li:nth-child(3) {
  background-color: #1897cd;
}

.colors li:nth-child(4) {
  background-color: #31cbfc;
}

.colors li:nth-child(5) {
  background-color: #ff8800;
}

.colors li:nth-child(6) {
  background-color: #f92a1d;
}

.colors li:nth-child(7) {
  background-color: #f9d31d;
}

.colors li:nth-child(8) {
  background-color: #18a837;
}

#nav .content-wrapper {
  padding: 0;
}

@media (min-width: 1062px) {
  #header nav {
    display: inline-block;
    margin-left: 1.25em;
  }
}

#drupal-messages .messages {
  margin-bottom: 1.5em;
}
