//////////////////////////////
// Build out your Possible Colours
//
// Everything from your Style Guide _base.scss are available
//  including all of your colours.
//////////////////////////////
@include possible-colours(nth($black, 1), nth($slate, 1), nth($blue-drk, 1), nth($blue-lte, 1), nth($orange, 1));


//////////////////////////////
// Build out your Style Tile
//////////////////////////////

#nav .content-wrapper {
  padding: 0;
}

#header nav {
  @include breakpoint(1062px) {
    display: inline-block;
    margin-left: 1.25em;
  }
}

#drupal-messages .messages {
  margin-bottom: 1.5em;
}