%p.h1 HAML is not recognizing scss so Header 4 style is set inline.

%div.some{ :style => "font-size: 24px; color: #0099cc;" } This is Header 4

-# The total number of possible colours you'd like to include
- @colours = 5

-# A list of images you'd like to use for possible patterns; can use local or external images
-#   Shuttle image courtesy Nasa: http://www.flickr.com/photos/nasahqphoto/8158330724/in/photostream
- @images = ['/images/thumbnail.jpg', '/images/thumbnail.jpg', '/images/thumbnail.jpg', '/images/thumbnail.jpg',]

-# A list of inspirational words for this Style Tile
- @words = ['Streemline', 'Clean', 'Theatrical', 'Sophisticated']

-# A list of classes you'd like to use for the display buttons
- @buttons = ['big-button', ['big-button', 'blue-drk']]





