-# The total number of possible colours you'd like to include
- @colours = 8

-# A list of images you'd like to use for possible patterns; can use local or external images
-#   Shuttle image courtesy Nasa: http://www.flickr.com/photos/nasahqphoto/8158330724/in/photostream
- @images = ['/images/pattern01_dl.jpg', '/images/pattern02_thumb.jpg', '/images/dlButton.svg', '/images/navToggle.svg']


-# A list of inspirational words for this Style Tile
- @words = ['Streamline', 'Clean', 'Theatrical', 'Sophisticated']

-# A list of classes you'd like to use for the display buttons
- @buttons = ['call-to-action', 'subnav01', 'subnav02']



