%article#blogroll.element
  %h2.element-title Blogroll
  .view.view-blog.view-id-blog.view-display-id-page_1.view-dom-id-8a5d3ba4ad2fdde8bd62e472d1c3c5ba.jquery-once-1-processed
    .view-content
      .item-list
        %ul
          %li.views-row.views-row-1.views-row-odd.views-row-first
            %article.node.node-blog-post.contextual-links-region.view-mode-teaser_with_media.clearfix
              %header
                %span.title-prefix
                  %a{:href => "/blog/281"} Comedy
                %h2
                  %a{:href => "/content/30-rock-season-premiere-beginning-end"} '30 Rock' Season Premiere: The Beginning of the End!
              %footer
                By
                %a.username{:href => "/users/cindia-wong", :title => "View user profile."} Cindia Wong
                on
                %time{:datetime => "2012-12-12"} December 12, 2012
              .field.field-name-field-cover-media.field-type-file.field-label-hidden
                .field-items
                  .field-item.even
                    %figure.file.file-image.file-image-jpeg.contextual-links-region.view-mode-headline.clearfix
                      %img{:alt => "", :src => "http://local.dbtv/sites/default/files/styles/headline-image/public/NUP_151670_0414.JPG"}
              %section.field.field-name-body.field-type-text-with-summary.field-label-hidden
                Jack is back on the market! Liz and Criss are "trying"! Check out what else is to come as the NBC comedy kicks off its final season
          %li.views-row.views-row-2.views-row-even
            %article.node.node-blog-post.contextual-links-region.view-mode-teaser_with_media.clearfix
              %header
                %span.title-prefix
                  %a{:href => "/blog/311"} Reality
                %h2
                  %a{:href => "/content/christina-aguilera-and-cee-lo-green-taking-break-voice"} Christina Aguilera and Cee Lo Green Taking a Break from 'The Voice'
              %footer
                By
                %a.username{:href => "/users/cindia-wong", :title => "View user profile."} Cindia Wong
                on
                %time{:datetime => "2012-12-07"} December 7, 2012
              .field.field-name-field-cover-media.field-type-file.field-label-hidden
                .field-items
                  .field-item.even
                    %figure.file.file-image.file-image-jpeg.contextual-links-region.view-mode-headline.clearfix
                      %img{:alt => "", :src => "http://local.dbtv/sites/default/files/styles/headline-image/public/christina-aguilera-cee-lo-g.jpg"}
              %section.field.field-name-body.field-type-text-with-summary.field-label-hidden
                While the two stars are taking a season off, NBC announced that Usher and Shakira will take over their red spinning chairs
          %li.views-row.views-row-3.views-row-odd
            %article.node.node-blog-post.node-promoted.contextual-links-region.view-mode-teaser_with_media.clearfix
              %header
                %span.title-prefix
                  %a{:href => "/blog/306"} Drama
                %h2
                  %a{:href => "/content/haven-burned"} Haven - "Burned"
              %footer
                By
                %a.username{:href => "/users/cindia-wong", :title => "View user profile."} Cindia Wong
                on
                %time{:datetime => "2012-12-06"} December 6, 2012
              .field.field-name-field-cover-media.field-type-file.field-label-hidden
                .field-items
                  .field-item.even
                    .ds-1col.file.file-video.file-video-theplatform.contextual-links-region.view-mode-headline.clearfix
                      .contextual-links-wrapper.contextual-links-processed
                        %a.contextual-links-trigger{:href => "#"} Configure
                        %ul.contextual-links
                          %li.file-edit.first
                            %a{:href => "/file/1081/edit?destination=blog"} Edit
                          %li.file-delete.last
                            %a{:href => "/file/1081/delete?destination=blog"} Delete
                      %iframe.theplatform-video{:allowfullscreen => "", :frameborder => "0", :src => "http://player.theplatform.com/p/hQNl-B/VrhKBv23JK0d/embed/select/TW4sL45JPZpD"}
                        Your browser does not support iframes.
              %section.field.field-name-body.field-type-text-with-summary.field-label-hidden
                %p
                  %span When Nathan and Audrey find another dead body with a bolt gun incision, they worry that Tommy may have survived their last run in and is still killing people. The truth, however, is much more sinister. The dead body IS Tommy's.  He was actually killed when he first got to Haven, meaning that someone must have taken his place.
                  %br/
          %li.views-row.views-row-4.views-row-even
            %article.node.node-blog-post.node-promoted.node-teaser.contextual-links-region.view-mode-teaser.clearfix
              %header
                %span.title-prefix
                  %a{:href => "/blog/"}
                %h2
                  %a{:href => "/content/face-season-3-scene-crime"} Face Off - Season 3 - Scene of the Crime
              %footer
                By
                %a.username{:href => "/users/cindia-wong", :title => "View user profile."} Cindia Wong
                on
                %time{:datetime => "2012-12-06"} December 6, 2012
              %section.field.field-name-body.field-type-text-with-summary.field-label-hidden
                %p
                  This week, everyone will find out who will make it to the final three. The contestants are nervous as they enter Cedar Grove in Griffith Park to learn their latest assignment. When McKenzie appears with Silas Weir Mitchell from the show 
                  %em> Grimm
                  , the artists have an inkling that their creations this week will have something to do with monsters. 
          %li.views-row.views-row-5.views-row-odd.views-row-last
            %article.node.node-blog-post.node-promoted.node-teaser.contextual-links-region.view-mode-teaser.clearfix
              %header
                %h2
                  %a{:href => "/content/famous-jack-donaghy"} The Famous Jack Donaghy
              %footer
                By
                %a.username{:href => "/users/admin", :title => "View user profile."} admin
                on
                %time{:datetime => "2012-12-05"} December 5, 2012
              %section.field.field-name-body.field-type-text-with-summary.field-label-hidden
                %p Catch up with 30 Rock!