%article#promoted-item.element
  %h2.element-title Promoted item
  %figure.node.node-blog-post.contextual-links-region.view-mode-promoted_content.clearfix
    %a{:href => "content/30-rock-season-premiere-beginning-end"}
    .media-wrapper.clearfix
      %a{:href => "content/30-rock-season-premiere-beginning-end"}
      .ds-1col.file.file-image.file-image-jpeg.contextual-links-region.view-mode-promoted_content.clearfix
        %a{:href => "content/30-rock-season-premiere-beginning-end"}
        .contextual-links-wrapper.contextual-links-processed
          %a.contextual-links-trigger{:href => "#"} Configure
          %a{:href => "content/30-rock-season-premiere-beginning-end"}
          %ul.contextual-links
            %a{:href => "content/30-rock-season-premiere-beginning-end"}
            %li.file-edit.first
              %a{:href => "content/30-rock-season-premiere-beginning-end"}
              %a{:href => "/file/876/edit?destination=home"} Edit
            %li.file-delete.last
              %a{:href => "/file/876/delete?destination=home"} Delete
        %img{:alt => "", :src => "http://local.dbtv/sites/default/files/styles/promoted_content/public/NUP_151670_0414.JPG"}/
    %figcaption.clearfix
      '30 Rock' Season Premiere: The Beginning of the End!