%article#promoted-slider.element
  %h2.element-title Promoted Slider
  #front-promoted.promoted.slider
    %ul.slides
      %li
        %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
        %figure.node.node-promotional-content.contextual-links-region.view-mode-promoted_content.clearfix
          %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
          .media-wrapper.clearfix
            %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
              %aside.promo-marquee.topleft Check out the video
            .field.field-name-field-promotional-content.field-type-file.field-label-hidden
              %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
              .field-items
                %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
                .field-item.even
                  %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
                  .ds-1col.file.file-image.file-image-jpeg.contextual-links-region.view-mode-promoted_content.clearfix
                    %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
                    .contextual-links-wrapper
                      %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
                      %ul.contextual-links
                        %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
                          %li.file-edit.first
                            %a{:href => "/file/1091/edit?destination=home"} Edit
                        %li.file-delete.last
                          %a{:href => "http://today.msnbc.msn.com/id/3041478/ns/today-toyota_concert_series_on_today", :target => "_blank"}
                          %a{:href => "/file/1091/delete?destination=home"} Delete
                    %img{:alt => "", :src => "http://local.dbtv/sites/default/files/styles/promoted_content/public/NUP_154026_0135.JPG"}/
          %figcaption.clearfix
            Hit UK singer Paloma Faith US Debut
            %span.details
              Toyota Concert Show
      %li
        %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
        %figure.node.node-promotional-content.contextual-links-region.view-mode-promoted_content.clearfix
          %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
          .media-wrapper.clearfix
            %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
              %aside.promo-marquee.topleft Series Premiere
            .field.field-name-field-promotional-content.field-type-file.field-label-hidden
              %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
              .field-items
                %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
                .field-item.even
                  %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
                  .ds-1col.file.file-image.file-image-jpeg.contextual-links-region.view-mode-promoted_content.clearfix
                    %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
                    .contextual-links-wrapper
                      %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
                      %ul.contextual-links
                        %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
                          %li.file-edit.first
                            %a{:href => "/file/566/edit?destination=home"} Edit
                        %li.file-delete.last
                          %a{:href => "http://dbtv.nbcuni.com/content/meet-first-family"}
                          %a{:href => "/file/566/delete?destination=home"} Delete
                    %img{:alt => "", :src => "http://local.dbtv/sites/default/files/styles/promoted_content/public/NUP_149692_0039.JPG"}/
          %figcaption.clearfix
            Meet the First Family
            %span.details
              Thursdays 9:30/8:30C
      %li
        %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
        %figure.node.node-promotional-content.contextual-links-region.view-mode-promoted_content.clearfix
          %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
          .media-wrapper.clearfix
            %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
              %aside.promo-marquee.topleft Season 4 Premiere
            .field.field-name-field-promotional-content.field-type-file.field-label-hidden
              %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
              .field-items
                %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
                .field-item.even
                  %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
                  .ds-1col.file.file-image.file-image-jpeg.contextual-links-region.view-mode-promoted_content.clearfix
                    %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
                    .contextual-links-wrapper
                      %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
                      %ul.contextual-links
                        %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
                          %li.file-edit.first
                            %a{:href => "/file/441/edit?destination=home"} Edit
                        %li.file-delete.last
                          %a{:href => "http://dbtv.nbcuni.com/burn-notice-best-laid-plans-season-premiere"}
                          %a{:href => "/file/441/delete?destination=home"} Delete
                    %img{:alt => "", :src => "http://local.dbtv/sites/default/files/styles/promoted_content/public/NUP_148970_0092.JPG"}/
          %figcaption.clearfix
            Michael Weston Returns
            %span.details
              Thursdays 11/10C
      %li
        %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
        %figure.node.node-promotional-content.contextual-links-region.view-mode-promoted_content.clearfix
          %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
          .media-wrapper.clearfix
            %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
              %aside.promo-marquee.bottomright Full Episode
            .field.field-name-field-promotional-content.field-type-file.field-label-hidden
              %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
              .field-items
                %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
                .field-item.even
                  %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
                  .ds-1col.file.file-image.file-image-jpeg.contextual-links-region.view-mode-promoted_content.clearfix
                    %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
                    .contextual-links-wrapper
                      %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
                      %ul.contextual-links
                        %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
                          %li.file-edit.first
                            %a{:href => "/file/1176/edit?destination=home"} Edit
                        %li.file-delete.last
                          %a{:href => "http://dbtv.nbcuni.com/content/face-season-3-scene-crime"}
                          %a{:href => "/file/1176/delete?destination=home"} Delete
                    %img{:alt => "", :src => "http://local.dbtv/sites/default/files/styles/promoted_content/public/s03_e0310_01_135101647122.jpg"}/
          %figcaption.clearfix
            Who are Face Off's Top 3?
            %span.details
              Cliffhanger Ending