%article#tabs.element
  %h2.element-title Primary Tabs
  .tabs
    %ul.tabs.primary
      %li.active
        %a.active{:href => "#tabs"}
          View
      %li
        %a{:href => "#tabs"} Edit
      %li
        %a{:href => "#tabs"} Revisions
      %li
        %a{:href => "#tabs"} Nodequeue
      %li
        %a{:href => "#tabs"} Workflow
      %li
        %a{:href => "#tabs"} Devel

