-# Client Information
-#   @clientName - DBTV
-#   @clientLogo - The address to the client's logo image
-#   @version - The version of the Style Guide
- @clientName = "DBtv"
- @clientLogo = "/images/dbtv_logo.svg"
- @version = "1"

-# Author Information
-#   The author of the style guide
- @author = "Sam Richard, Kimmie Nguyen, Ian Rogers, Noel Beane"