-# Choose which sections you'd like to include
-# If you'd like to add a custom section, simply add the .haml file into the custom directory!

- @sections = [['SHOWS', '/index.html'], ['FULL EPISODES', '/markup/common.html'], ['MOVIES', '/markup/html5.html'], ['SCHEDULE', '/misc/typography.html'], ['BLOGS', '/custom/drupal/ui-patterns.html'], ['MORE', '/misc/colours.html']]